body {
  font-family: Montserrat-strong;
  width: 100%;
}

body { overflow-x: hidden; width: 100vw;}

h1 {
  font-size: 4.5rem;
  font-family: Montserrat-strong;
  text-align: left;
  line-height: 85px;
}



#navbarNavDropdown {
  margin-left: 20%;
}
/* .navbar-expand{-sm|-md|-lg|-xl} */

.navbar {
  padding: 1% 1%;
}

.navbar-brand {
  font-family: Itim;
  font-size: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 1%;
}

.dropdn {
  background-color: #E1CCEC;
  border: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 1rem;
}

.dropdn:hover {
  color: #F1F1F6;
}

.navitem {
  font-size: 1.3rem;
  font-family: Montserrat-strong;
  font-weight: normal;
  margin: 0 1% 0 1%;
}

/* Titles */
#title {

  background-color: #F1F1F6;
  text-align: center;
}

.titles {

  padding: 23% 10% 12% 10%;
}

.tyagaraja {
  height: 200px;
  width: 200px;
  margin-left: 10%;
}

.singerround {
  height: 300px;
  width: 300px;
  margin-right: 8%;
}





/* About section */
#carnatic-music {
  padding: 10% 10% 10% 10%;
  background-color: #E1CCEC;
  text-align: left;
  font-size: 1.5rem;
}

.benefits {
  width: 400px;
  height: 400px;
}

#Reethika {
padding: 10% 10% 10% 10%;
  background-color: #FDEFEF;
  text-align: left;
  font-size: 1.5rem;
}

.reethika {
  margin: 10% 10% 0 0;
}


h3 {
  font-family: crimson-pro;
  font-size: 3.3rem;
  padding-bottom: 3%;
}

/* online classes */
#class-structure-online{

  padding: 10% 10% 10% 10%;
  background-color: #E1CCEC;
  text-align: left;
  font-size: 1.5rem;

}

.online {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin: 50px 0 0 30px;
}

#class-structure-offline {
  padding: 10% 10% 10% 10%;
  background-color: #FDEFEF;
  font-family: PT Sans;
  font-size: 1.5rem;
  color: #595260;
  text-align: left;
}

.high {
  font-weight: bold;
}

#fee-structure {
  background-color: #E1CCEC;
  padding: 10% 10% 10% 10%;
  text-align: center;
  font-family: PT Sans;
  font-size: 1.5rem;
  color: #595260;
  text-align: center;
}



.feesimage {
  width: 100px;
  height: 100px;
  padding-left: 1%;
}


#testimonials {
  padding: 5% 0 5% 0;
  background-color: #BE9FE1;
}

.testimonials1 {
  margin-top: 5%;
  text-align: center;
  padding: 0 20% 0 20%;
}

.testimonial-image {
  height: 200px;
  width: 200px;
  margin: auto;
}

.testimonial {
  font-size: 1.3rem;
  text-align: center;
  color: #F1F1F6;
}

#sravya {
  transform: rotate(20deg);
}

#contact {
  padding: 10% 10% 10% 10%;
  background-color: #FDEFEF;
  text-align: center;
  font-size: 1.5rem;
}

/* .row{
  margin-right: -15px;
  padding-right: 0;
} */

@media only screen and (max-width: 600px) {


/* .row{
  margin-right: -15px;
  padding-right: 0;
}

  .container-fluid{
    width: 100%;
  } */

  .img-fluid{

    width: 80%;
    height: auto;
  }

  h1 {
    font-size: 3rem;
    font-family: Montserrat-strong;
    text-align: center;
    line-height: 110%;
  }

  #carnatic-music {
    padding: 1% 2% 1% 2%;
    text-align: center;
    font-size: 1.2rem;
  }

  #Reethika {
    padding: 1% 2% 1% 2%;
    text-align: center;
    font-size: 1.2rem;
  }

  #class-structure-online{

    padding: 1% 2% 1% 2%;
    text-align: center;
    font-size: 1.2rem;

  }

  #class-structure-offline{

    padding: 1% 2% 1% 2%;
    text-align: center;
    font-size: 1.2rem;

  }

  h3 {

    font-size:2rem;

  }

  .testimonials1 {
    margin-top: 5%;
    text-align: center;
    padding: 0 12% 0 12%;
  }

  .testimonial {
    font-size: 1.2rem;
    text-align: justify;
    color: #F1F1F6;
  }

}
